.SearchBar {
    background-color: black;
}

.BookPage
.SearchPage {
    background-color: azure;
}

.SearchResult {
    background-color: rgb(233, 186, 117);
}



.Chapter {
    background-color:coral;
}